{% extends 'base.html' %} 

{%block app_content%}
<!DOCTYPE html>

<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(20, 90, 23, 0.877);
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(30, 190, 57);
}

</style>
<div class = "header">
<img src="{{url_for('static', filename='logo.png')}}" align="middle" width="10%" />
</div>
</head>    
    <head>
        <meta charset="utf-8" />
		<title>Trails Data</title>
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
		<style>
			body {
				margin:0;
                padding:0;
                font-family: Arial;
                background-color:rgb(241, 235, 221);
			}
			#map {
				position: relative;
				top:0;
				bottom:0;
				width:600px;
				height:400px
			}
			

			li {
			float: right;
			}

			li a {
			display: block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
			}

			li a:hover {
			background-color: #111;
			}
		</style>
    </head>
    
	
    <ul>
        <li><a href= "{{ url_for('logout') }}">Log Out</a></li>
        <li><a href="{{url_for('profile')}}">Profile</a></li>
        <li><a href= "{{ url_for('trails') }}">Map</a></li>
        <li><a class="active" href="{{url_for('home')}}">Home</a></li> 
    </ul>
	
	
	<body>
		<h>Trails Map</h>
        <div id="map"></div>
        
        <!-- selectboxes -->
        <select class="difficulty" multiple="multiple" style="width: 50%">
            <option></option>        
        </select>
        <select class="park_name" multiple="multiple" style="width: 50%">
            <option></option>        
        </select>
        <select class="trail_name" multiple="multiple" style="width: 50%">
            <option></option>        
        </select>
        <select class="greater_than" style="width: 50%">
            <option></option>        
        </select>
        <select class="less_than" style="width: 50%">
            <option></option>        
        </select>
        
        <!-- Ajax/Select2 for selectbox-->
        <script defer src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        
        <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
        
        <script>
            var search_parks = []
            
            var params = new URLSearchParams(window.location.search),
                search_parks = JSON.parse(params.get("parks"));    
        </script>

        <script>
            var center = [40.4406, -79.9959];
			var map = L.map('map', {
			}).setView(center,10);
			
			L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
				maxZoom: 18
			}).addTo(map);
            
            var dataURL = "https://openac-alcogis.opendata.arcgis.com/datasets/d182439a9a6344fca2c5bf717b9cace8_0.geojson?outSR=%7B%22latestWkid%22%3A4019%2C%22wkid%22%3A4019%7D";
			fetch(dataURL)
                .then(response => response.json())
                .then(data => {
                    // Dynamically construct selectbox options
                    var difs = [];
                    var park_names = [];
                    var trail_names = [];
                    var greater_than = [];
                    var less_than = [];

                    for (var i in data.features) {
                        var feature = data.features[i];
                        if (feature.properties.Difficulty !== null && 
                            feature.properties.Difficulty !== " " && 
                            difs.findIndex(element => { if (element.text === feature.properties.Difficulty) { return true; } }) == -1) {
                                if (feature.properties.Park_Name_Full !== null && 
                                feature.properties.Park_Name_Full !== " " &&
                                park_names.findIndex(element => { if (element.text === feature.properties.Park_Name_Full) { return true; } }) == -1) {
                                    if (feature.properties.Trail_Name !== null && 
                                    feature.properties.Trail_Name !== " " &&
                                    trail_names.findIndex(element => {if (element.text === feature.properties.Trail_Name) { return true; } }) == -1) {
                                        difs.push({id: difs.length, text: feature.properties.Difficulty});
                                        park_names.push({id: park_names.length, text: feature.properties.Park_Name_Full});
                                        trail_names.push({id: trail_names.length, text: feature.properties.Trail_Name});
                                    }
                                }
                        }
                    }
                    // Manually set length ranges
                    greater_than.push({id: greater_than.length, text: "0 miles", length: 0});
                    greater_than.push({id: greater_than.length, text: "0.5 miles", length: 0.5});
                    greater_than.push({id: greater_than.length, text: "1 miles", length: 1});
                    greater_than.push({id: greater_than.length, text: "2 miles", length: 2});
                    greater_than.push({id: greater_than.length, text: "5 miles", length: 5});

                    for(let x of greater_than) {
                        less_than.push(x);
                    }
                    less_than.push({id: less_than.length, text: "10 miles", length: 10});
                    less_than.shift(); // Remove less than 0 option

                    $('.difficulty').select2({
                        data: difs,
                        placeholder: 'Search by difficulty'
                    });

                    $('.park_name').select2({
                        data: park_names,
                        placeholder: 'Search by park name'
                    });
                    
                    $('.trail_name').select2({
                        data: trail_names,
                        placeholder: 'Search by trail name'
                    });

                    $('.greater_than').select2({
                        data: greater_than,
                        placeholder: 'Minimum length'
                    });

                    $('.less_than').select2({
                        data: less_than,
                        placeholder: 'Maximum length'
                    })
                    
                    // Preselect parks if query string is not empty
                    if (search_parks) {
                        let $element = $(".park_name");
                        let vals = [];
                        for (let park of search_parks) {
                            let val = $element.find("option:contains('"+park+"')").val();
                            vals.push(val);
                        }
                        $element.val(vals).trigger('change.select2');
                    }

                    // Filter/render
                    let selectBoxStates;
                    
                    function onEachFeature(feature, layer) {
                        layer.bindPopup(`<b>Park Name</b>: ${feature.properties.Park_Name_Full}<br>
                                        <b>Trail Name</b>: ${feature.properties.Trail_Name}<br>
                                        <b>Difficulty</b>: ${feature.properties.Difficulty}<br>
                                        <b>Length</b>:     ${parseFloat(feature.properties.Mileage).toFixed(2)} miles`, {offset: L.point(0, -20)});
                        layer.on('mouseover', function() { layer.openPopup(); });
                        layer.on('mouseout', function() { layer.closePopup(); });
                    }

                    const geoJsonLayer = L.geoJSON(null, {
                        filter: (feature) => {
                            if(selectBoxStates.difficulties.length > 0) { // If no checkboxes of a certain class are selected, show all
                                var isDifficultySelected = selectBoxStates.difficulties.includes(feature.properties.Difficulty);
                            } else if (feature.properties.Difficulty !== null && feature.properties.Difficulty !== " ") { 
                                isDifficultySelected = true; }
                            if(selectBoxStates.park_names.length > 0) {
                                var isParkSelected = selectBoxStates.park_names.includes(feature.properties.Park_Name_Full);
                            } else if (feature.properties.Park_Name_Full !== null && feature.properties.Park_Name_Full !== " "){
                                isParkSelected = true;}
                            if(selectBoxStates.trail_names.length > 0) {
                                var isTrailSelected = selectBoxStates.trail_names.includes(feature.properties.Trail_Name);
                            } else if (feature.properties.Trail_Name !== null && feature.properties.Trail_Name !== " ") { 
                                isTrailSelected = true;}
                            if(selectBoxStates.min_length <= parseFloat(feature.properties.Mileage) && selectBoxStates.max_length > parseFloat(feature.properties.Mileage)) {
                                var isLengthSelected = true;
                            }                             
                            return isDifficultySelected && isParkSelected && isTrailSelected && isLengthSelected; // Need properties of each class to be true to show
                        },
                        onEachFeature, onEachFeature
                    }).addTo(map);
                    
                    function updateSelectboxStates() {
                        selectBoxStates = {
                            difficulties: [],
                            park_names: [],
                            trail_names: [],
                            min_length: 0,
                            max_length: 10
                        };
                        for (let dif of $('.difficulty').select2('data')) {
                            selectBoxStates.difficulties.push(dif.text);
                        }
                        for (let park of $('.park_name').select2('data')) {
                            selectBoxStates.park_names.push(park.text);
                        }
                        for (let trail of $('.trail_name').select2('data')) {
                            selectBoxStates.trail_names.push(trail.text);
                        }
                        var min = $('.greater_than').select2('data');
                        if(min[0].text !== "") 
                            selectBoxStates.min_length = min[0].length;
                        
                        var max = $('.less_than').select2('data');
                        if(max[0].text !== "")
                            selectBoxStates.max_length = max[0].length;
                    }
                                    
                    for(let select of document.querySelectorAll('select')) {
                        select.onchange = (e) => {
                            geoJsonLayer.clearLayers();
                            updateSelectboxStates();
                            geoJsonLayer.addData(data);
                        }
                    }

                    updateSelectboxStates();
                    geoJsonLayer.addData(data);               
                });
		</script>
    </body>

</html>



{% endblock %}